/* Filler */
.curved_home{
    position: absolute;
    display: block;
    fill: var(--gray);
  }

/* Flip Card */

  /* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip_card {
  background-color: transparent;
  width: 325px;
  height: 440px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  margin: 20px
}

/* This container is needed to position the front and back side */
.flip_card_inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip_card:hover .flip_card_inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip_card_front, .flip_card_back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  border-radius: 20px;

}

/* Style the front side (fallback if image is missing) */
.flip_card_front {
  background-color: var(--air-superiority-blue);
}

/* Style the back side */
.flip_card_back {
  background-color: var(--air-superiority-blue);
  transform: rotateY(180deg);
}

.flip_card p{
  font-size: 1.3rem;
  margin: 5%;
}

.link_container{
  width: 50%;
  height: 50px;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  text-decoration: none;
  transition: 300ms ease-in-out;
  font-size: 1.3rem;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 10%;
  color: var(--black)
}

.link_container:hover{
  background: var(--bistre);
  color: var(--air-superiority-blue)
}

.image_container{
  width: 100%;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
  display: flex;
}

.flip_card img, .flip_card picture{
  width:80%;
  margin-top: auto;
  margin-bottom: auto;
}

/* Pop up on contact form submission */

.popup{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #03243a;
}

.popup_inner{
  position: relative;
  padding: 32px;
  width: 100%;
  max-width: 400px;
  background-color: #e5eaf5;
  color: #03243a;
  border-radius: 25px;
  border: 2px solid #04314e;
}

.popup_inner, .popup_close{
  position: absoute;
}

.popup_close{
  background-color: #04314e;
  border: 2px solid #04314e;
  padding: 10px;
  color: #e5eaf5;
  font-size: 18px;
  border:0;
  outline:none;
  cursor: pointer;
  border-radius: 25px;
}

.popup_close:hover{
  background-color: #e5eaf5;
  color: #04314e;
  border: 2px solid #04314e;
}