.main{
    display: flex;
    flex-wrap: wrap;
    color: #E4EAF5;
}
.container{
    width: 100%;
    height: 50%;
    min-height: 550px;
    display: flex;
    position: static;
    justify-content: center;
}

.form{
    margin-top: 5%;
    background:#03243a;
    display: flex;
    flex-direction: column;
    padding: 1.5vw 1.5vw;
    width: 90%;
    max-width: 750px;
    border-radius: 20px;
}

.form h3{
    font-weight: 800;
    margin-bottom: 15px;
    margin-left: 10px;
}

.form input, .form textarea{
    border: 0;
    border-radius: 20px;
    margin: 10px 10px;
    padding: 15px;
    outline: none;
    font-size: 1rem;
    background: #04314e;
    font-family: 'K2D', sans-serif;
    color:#E4EAF5
}

.form input::placeholder, .form textarea::placeholder{
    font-family: 'K2D', sans-serif;
    color: #E4EAF5;
}

.form button{
    padding: 10px;
    background: #04314e;
    color: #E4EAF5;
    font-size: 18px;
    border:0;
    outline:none;
    cursor: pointer;
    border-radius: 25px;
    margin: 0px 10px;
}

.form button:hover{
    background: #E4EAF5;
    color: #04314e;
}