.container{
    bottom: 0;
    position: absolute;
    width: 90%;
    left: 5%;
    right: 5%;
}
.footer {
    position: relative;
    display: flex;
    flex: 1;
    padding:2rem 0rem;
    justify-content: center;
    align-items: center;
    width: 100% ;
    overflow: hidden;
  }
  
  .footer a {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    font-size: 17px;
    width: 33%;
  }

.body {
  position: relative;
  display: flex;
  background-image: linear-gradient(to right, rgb(10, 30, 31), rgb(255, 234, 208) 50%, rgb(10, 30, 31));
  background-size: inherit;
  background-repeat: no-repeat;
  height: 2px;
  margin: auto;
}
