.container{
  position: absolute;
  width: 100%;
  bottom: 0;
}
.footer {
  position: relative;
  display: flex;
  flex: 1;
  padding:2rem 0rem;
  justify-content: center;
  align-items: center;
  width: 100% ;
  overflow: hidden;
  flex-wrap: wrap;
}

.footer a {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  font-size: max(10px, 0.75vw);
  width: 33%;
  color: #03243a
}

.body {
position: relative;
display: flex;
background-image: linear-gradient(to right, #E4EAF5, #03243a 50%, #E4EAF5);
background-size: inherit;
background-repeat: no-repeat;
height: 2px;
margin: auto;
}