.footer {
    position: relative;
    display: flex;
    flex: 1;
    padding:2rem 0rem;
    justify-content: center;
    align-items: center;
    width: 100% ;
    overflow: hidden;
  }
  
  .footer a {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    color:rgb(255, 255, 255);
    font-size: 17px;
  }

.container{
    bottom: 0px;
    position: relative;
    width: 90%;
    left: 5%;
    right: 5%;
    overflow: hidden;
}

.body {
  position: relative;
  display: flex;
  background-image: linear-gradient(to right, #111, rgb(253, 253, 253) 50%, #111);
  background-size: inherit;
  background-repeat: no-repeat;
  height: 2px;
  margin: auto;
}