html{
  height: 100%;
  font-family: 'K2D', sans-serif;
  color: rgb(255, 234, 208);
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1{
  font-size: 8vw;
  background: #04314E;
  padding-left: 5vw;
}

a {
  color: rgb(255, 234, 208);
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    /* color: rgb(255, 234, 208); */
    color: #E1DDBF;
    background: #021927;
  }
}
