:root {
  --dark-blue: #1A237E;
  --blue: #00004d;
  --light-blue: #2196F3;
  --gray: #E0E0E0;
  --dark-gray: #323232;
  --white: #FFFFFF;
  --black: #000000;
  --beige: #DDD0C8;

  --jordy-blue: #8eb8e5ff;
  --air-superiority-blue: #7c99b4ff;
  --slate-gray: #6b7f82ff;
  --walnut-brown: #5b5750ff;
  --bistre: #492c1dff;
}

html{
  height: 100%;
  font-family: 'K2D', sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
}

h2{
  font-size: 4vw;
  padding-top: 10px;
  text-decoration: underline 7.5px;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

