html{
  height: 100%;
  font-family: 'K2D', sans-serif;
  color: rgb(255, 234, 208);
  box-sizing: border-box;
}

body {
  margin: 0;
}

h2{
  font-size: 4vw;
  padding-left: 5vw;
  padding-top: 10px;
  text-decoration: underline #E1DDBF 7.5px;
}

a {
  color: rgb(255, 234, 208);
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    /* color: rgb(255, 234, 208); */
    color: #E1DDBF;
    background: #021927;
  }
}
