.wrapper{
  width: auto;
}

.child {
  width: auto;
}

.container{
  position: absolute;
  width: 100%;
  display: flex;
  top: calc(2% + max(2rem, 2vw));
}

.container div{
  margin-top: 20vh;
  margin-left: 15vw;
}
.container span{
  font-weight: 800;
  font-size: max(2.25em, 10vh);
}

.container p{
  font-weight: 500;
  font-size: max(0.75rem, 2.5vh)
}

.github{
  position:relative;
  height: max(40px, 5vh);
  margin: 2%
}


.github img{
    width: inherit;
    height: inherit;
}

.linkdin{
  position:relative;
  height: max(40px, 5vh);
  margin: 2%
}

.linkdin img{
    width: inherit;
    height: inherit;
}

.filler{
  font-size: max(2rem, max(4vw, 4vh));
  width: 100%;
  font-weight: 800;
  background: #04314e;
  position: absolute;
  color: transparent
}

.button {
  background-color: #03243a;
  border: 2px solid #04314e;
  border-radius: 30px;
  box-shadow: #04314e 4px 4px 0 0;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 16px;
  line-height: 40px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button a{
  text-decoration: none;
  color: #e5eaf5;
}

.button:hover, .button a:hover {
  background-color: #e5eaf5;
  color: #03243a;
}

.button:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button {
    min-width: 120px;
    padding: 0 25px;
  }
}