.container{
  position: absolute;
  width: 100%;
  /* height: calc(100vh - calc(2% + max(4rem, 4vw))); */
  display: flex;
  top: calc(2% + max(4rem, 4vw));
}

.container div{
  margin-top: 20vh;
  margin-left: 15vw;
}
.container span{
  font-weight: 800;
  font-size: max(2.25em, 10vh);
}

.container p{
  font-weight: 500;
  font-size: max(0.75rem, 2.5vh)
}

.github{
  position:relative;
  height: max(50px, 5vh);
  margin: 2%
}


.github img{
    width: inherit;
    height: inherit;
}

.linkdin{
  position:relative;
  height: max(50px, 5vh);
  margin: 2%
}

.linkdin img{
    width: inherit;
    height: inherit;
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
