.container{
    position: relative;
    width: 100%;
    align-items: center;
    margin-left: 20%;
    margin-top: 20vh;
}

.container span{
    font-weight: 800;
    font-size: 5em;
}

.container a{
    font-weight: 500;
    font-size: max(0.75em, 1.25vw)
}