.home {
  background-color: var(--slate-gray);
}

.container{
  position: absolute;
  width: 100%;
  display: flex;
  top: calc(2% + max(2rem, 2vw));
}

.container div{
  margin-top: 20vh;
  margin-left: 15vw;
  color: var(--black);
}
.container span{
  font-weight: 800;
  font-size: max(2.25em, 10vh);
}

.container p{
  font-weight: 500;
  font-size: max(0.75rem, 2.5vh)
}


.button {
  background-color: var(--beige);
  border: 2px solid var(--walnut-brown);
  color: var(--bistre);
  box-shadow: var(--bistre) 4px 4px 0 0;
  border-radius: 30px;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 16px;
  line-height: 40px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-family: 'K2D', sans-serif;
}

.button a{
  text-decoration: none;
  color: var(--gray);
}

.button:hover, .button a:hover {
  color: var(--beige);
  background-color: var(--bistre);
  border: 2px solid var(--walnut-brown);
  box-shadow: var(--bistre) 4px 4px 0 0;
}

.github{
  position:relative;
  height: max(40px, 5vh);
  margin: 2%
}

.github img, .github picture{
    width: inherit;
    height: inherit;
}

.linkdin{
  position:relative;
  height: max(40px, 5vh);
  margin: 2%
}

.linkdin img, .linkdin picture{
    width: inherit;
    height: inherit;
}

@media (min-width: 768px) {
  .button {
    min-width: 120px;
    padding: 0 25px;
  }
}

/*nav test*/
.nav {
  display: flex;
  align-items: center;
  pointer-events: none;
}

.nav:hover {
  pointer-events: auto;
}

.smHeader {
  font-size: 2.6rem;
  text-transform: uppercase;
  cursor: pointer;
  pointer-events: auto;
}

.line {
  width: 15rem;
  height: 3px;
  background-color: #FFF;
  margin-left: 2rem;
  margin-right: auto;
  transform: scaleX(0.2);
  transform-origin: left;
  transition: transform 0.5s;
}

.nav:hover .line {
  transform: scaleX(1);
}

.navList{
  display:flex;
  list-style: none;
}

.navItem {
  margin-inline: 2.5rem;
  opacity: 0;
  transition: transform 0.5s, opacity 0.5s;
}

.navItem:nth-child(odd) {
  transform: translateY(5rem);
}

.navItem:nth-child(even) {
  transform: translateY(-5rem);
}

.nav:hover .navItem {
  opacity: 1;
  transform: translateY(0);
}

.navLink:hover i.facebook {
  color: #3b5998;
}
.navLink:hover i.twitter {
  color: #1da1f2;
}
.navLink:hover i.fa-dribbble {
  color: #ea4c89;
}
.navLink:hover i.linkedin {
  color: #0077b5;
}
