.container {
    height: 90vh;
    width: 100%;
    position: relative;
  } 
  
  .principal {
      margin: 0;
      min-width: auto;
      min-height: 100%;
      position: relative;
      box-sizing: inherit;
  }
  