.container_home, .container_skills, .container_exp, .container_cm{
    position: fixed;
    height: auto;
    width: 100%;
    display: flex;
    z-index: 1000;
    box-shadow: var(--black) 0px 7px 29px 0px;
}

.container_home{
    background: var(--slate-gray);
}

.container_skills{
    background: var(--walnut-brown);
    box-shadow: var(--black) 0px 7px 29px 0px;
}

.container_exp{
    background: var(--slate-gray);
    box-shadow: var(--black) 0px 7px 29px 0px;
}

.container_cm{
    background: var(--walnut-brown);
    box-shadow: var(--black) 0px 7px 29px 0px;
}



.container_home a, .container_cm a, .container_exp a, .container_skills a{
    padding-left: 5%;
    display: flex;
    justify-content: center;
    font-size: max(2rem, 4vw, 4vh);
    font-weight: 800;
    text-decoration: none;
    cursor: pointer;
}
 
.menu{
    position: relative;
    display: flex;
    height: inherit;
    justify-content: center;
    align-items: center;
    flex: 1;
    justify-content: center;
    align-items: center;
}
.menu a{
    display: flex;
    justify-content: center;
    flex: 1.5;
    font-size: max(0.75rem, 1.25vw, 1.25vh);
    text-decoration: none;
}

.menu a:hover{
    text-decoration: underline;
    cursor: pointer;
}
