.container{
    position: fixed;
    height: auto;
    width: 100%;
    display: flex;
    /* background: #3db8b8; */
    background: #04314E;
    box-shadow: 0 2px 4px 0 #04314E;
    z-index: 1000
}

.container a{
    margin-top: 1%;
    margin-left: 5%;
    display: flex;
    justify-content: center;
    font-size: max(2rem, 4vw);
    margin-bottom: 1%;
    font-weight: 800;
    text-decoration: none;
    cursor: pointer;
}
 
.menu{
    position: relative;
    display: flex;
    height: inherit;
    justify-content: center;
    align-items: center;
    flex: 1;
    justify-content: center;
    align-items: center;
}
.menu a{
    display: flex;
    justify-content: center;
    flex: 1.5;
    font-size: max(0.75rem, 1.25vw);
    text-decoration: none;
}

.menu a:hover{
    text-decoration: underline;
    cursor: pointer;
}
