.container{
    position: absolute;
    display: flex;
}

.languages{
  width: 30%;
  margin-left: 2.5vw
}

.tech{
  width: 40%;
  margin-left: 30%;
}

.header {
  font-size: 5vw;
  font-weight:300;
}

